*.pyc
data/
__pycache__/
checkpoints/
runs/
.idea/
*.pickle
*.csv
*.jpg
*.png
*.obj
*.stl
analysis_data/
temp/
**/*.pickle
**/*.jpg
**/*.png
**/*.html
**/*.log
**/*.aux
SUBMISSION*
venv/
!docs/imgs/afilament.png
!docs/imgs/Series005Snapshot.png
!docs/imgs/Series012Snapshot.png


